/***** BASE STYLE *****/

body {
  background-image: linear-gradient(#000, #494949);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

/***** HEADER *****/

header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

header h1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

header span {
  color: #f16059;
  font-size: 65px;
  padding: 0 5px;
}

/***** MAIN CONTENT *****/

.answer {
  color: #222;
  font: bold 20px 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 0 0 160px;
  position: absolute;
}

.ball {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ball img {
  height: auto;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#question {
  font-size: 26px;
  font-weight: bold;
}

#questionButton {
  background-color: #f16059;
  border: none;
  border-radius: 5px;
  color: #f8f8f8;
  font: 26px 'Montserrat', Helvetica, Arial, sans-serif;
  padding: 10px 25px;
}

/***** FOOTER *****/

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

/***** TABLET *****/

@media (min-width: 640px) {

  /***** MAIN CONTENT *****/

  .answer {
    font-size: 26px;
    padding: 0 0 180px;
  }

  #questionButton {
    padding: 10px 75px;
  }

}
